nav {
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

nav a {
  display: block;
  padding: 0.5rem 2rem;
  background-color: var(--color-blue);
  color: var(--color-text-light);
  text-decoration: none;
  border: 0.0625rem solid var(--color-blue);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  font-size: var(--font-h5);
  font-weight: 500;
}

nav a:hover,
nav a:focus {
  background-color: var(--color-blue-lightest);
  color: var(--color-text-dark);
}

nav .active {
  color: orange;

  /* font-weight: bold; */
}

.menu {
}
