.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome--header {
  font-size: var(--font-h1);
}

.welcome--message {
  font-size: var(--font-h4);
}
